.navbar {
  background-color: #dc82a4;
  height: 50px;
}

.bar {
  left: 8%;
  position: absolute;
}

.search {
  top: 10%;
  position: absolute;
  right: 0%;
  height: 45px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 65px;
  left: 3%;
  top: -1%;
  position: absolute;
}

.App-header {
  color: grey;
  top: -1%;
}

.App-title {
  font-size: 1.0em;
  padding: 58px;
}

.App-intro {
  font-size: large;
  color: rgb(107, 107, 107);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
