.map {
  height: 600px;
  width: 80%;
  margin: auto;
  border-radius: 5%;
  border: 5px solid;
  border-color: #DC82A4;
  padding: 10px;
  opacity: 0.75;
  margin-top: 100px;
  }

.mapCont {
  height: 100%;
  width: 60%;
  margin: auto;
}

.navbar {
  background-color: #dddddd;
  height: 50px;
}

.bar {
  left: 8%;
  position: absolute;
}

.search {
  top: 10%;
  position: absolute;
  right: 0%;
  height: 45px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 65px;
  left: 3%;
  top: -1%;
  position: absolute;
}

.App-header {
  color: grey;
  top: -1%;
}

.App-title {
  font-size: 1.0em;
  padding: 58px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
